
/**
 *  Background-related utilities.
 */

:root {
    --bg-primary: var(--color-1);
}

.bg-primary {
    background: var(--bg-primary);
}

.u-bg-white {
    background: white;
    color: var(--text-color-inverse);
}

.u-bg-grey-t-1 {
    background: var(--color-grey-t-1);
}
