
/**
 *  Rotate effect styles.
 */

.fx-rotate-int {
    display: inline-block;
    transition-duration: 0.3s;
    transition-property: transform;
}
.fx-rotate-int:focus,
.fx-rotate-int:hover {
    transform: rotate(10deg);
}

.fx-rotate-20 {
    display: inline-block;
    transform: rotate(20deg);
}
