
/**
 *  Base : embedding content
 */

img,
picture,
audio,
video,
canvas {
    display: inline-block;
}

img {
    border: 0;
    max-width: 100%;
    height: auto;
}

iframe {
    border: 0 none;
}
