
/**
 *  Generic styles :
 *  Positionning utils
 */

.u-absolute {
    position: absolute;
}

.u-relative {
    position: relative;
}

.u-pos-t {
    top: 0;
}
.u-pos-r {
    right: 0;
}
.u-pos-b {
    bottom: 0;
}
.u-pos-l {
    left: 0;
}

.u-pos-cover {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.u-zindex-2 {
    z-index: 2;
}

.u-zindex-m1 {
    z-index: -1;
}
