
/**
 *  Text utilities.
 *
 *  @require base/_root.css
 */


/*  Alignments
*/

.u-right {
    text-align: right;
}
.u-left {
    text-align: left;
}
.u-center {
    text-align: center;
}


/*  Styles
        @todo smallcaps ?
        @todo kerning ?
        @todo text-indent ?
*/

.u-bold {
    font-weight: var(--font-weight-bold);
}
.u-light {
    font-weight: var(--font-weight-light);
}
.u-italic {
    font-style: italic;
}
.u-uppercase {
    text-transform: uppercase;
}
.u-smallcaps {
    font-variant: small-caps;
}
.u-break-all {
    word-break: break-all;
    hyphens: auto;
}

.u-ls {
    letter-spacing: .0625em;
}
.u-ls--l {
    letter-spacing: .3125em;
}


/*  Misc
*/

.u-unselectable {
    user-select: none;
}

.u-nowrap {
    white-space: nowrap;
}


/*  Sizes
*/

.u-fs-reset {
    font-size: var(--font-size-ratio)rem;
    line-height: var(--line-height);
}

.u-fs-xs {
    font-size: var(--font-size-ratio-xs)rem;
    line-height: var(--line-height-xs);
}
.u-fs-s {
    font-size: var(--font-size-ratio-s)rem;
    line-height: var(--line-height-s);
}
.u-fs-m {
    font-size: var(--font-size-ratio-m)rem;
    line-height: var(--line-height-m);
}
.u-fs-l {
    font-size: var(--font-size-ratio-l)rem;
    line-height: var(--line-height-l);
}
.u-fs-xl {
    font-size: var(--font-size-ratio-xl)rem;
    line-height: var(--line-height-xl);
}


/*  Responsive size overrides.
*/

@media (--narrow) {
    .u-fs-xl {
        font-size: var(--font-size-ratio-l)rem;
        line-height: var(--line-height-l);
    }
}


/*  Relative Sizes in % (list of proportions, may add more)
*/

.u-fs-9of10x {
    font-size: 90%;
}
.u-fs-11of10x {
    font-size: 110%;
}
.u-fs-3of2x {
    font-size: 150%;
}
.u-fs-2x {
    font-size: 200%;
}
.u-fs-2x5 {
    font-size: 250%;
}
.u-fs-3x {
    font-size: 300%;
}
.u-fs-4x {
    font-size: 400%;
}


/*  Colors.
*/

.u-color-primary {
    color: var(--color-1);
}
.u-color-primary--light {
    color: var(--color-4);
}
.u-color-primary--compl {
    color: var(--color-2);
}

.u-color-secondary {
    color: var(--color-3);
}
